.popup__close-button {
    position: absolute;
    top: -32px;
    right: -32px;
    width: 32px;
    height: 32px;
    align-self: flex-end;
    border: 0;
    cursor: pointer;
    background-image: url(../../../images/Close-Icon.svg);
    padding: 0;
    background-size: cover;
    background-color: transparent;
}

@media screen and (min-width: 320px) and (max-width: 550px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        right: 0;
    }
}