.header__button {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 6px 0 46px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}

@media screen and (max-width: 550px) and (min-width: 320px) {
    .header__button {
        margin-bottom: 33px;
        font-size: 14px;
        line-height: 17px;
    }
}